[Unit]
Description=Xperia 10III Triple Camera Toggle
Documentation=https://docs.sailfishos.org/Support/Help_Articles/Camera/#multiple-cameras-of-xperia-10-iii
After=droid-hal-init.service

[Service]
Type=oneshot
RemainAfterExit=yes

ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
PrivateTmp=true
ReadWritePaths=/vendor/etc/camera

Environment=CAMXFILE=/vendor/etc/camera/camxoverridesettings.txt
Environment=CAMPROVIDER=/vendor/bin/hw/android.hardware.camera.provider@2.4-service_64
ExecStart=/bin/sh -c "sed -i 's/multiCameraEnable=.*$/multiCameraEnable=TRUE/' $CAMXFILE && /usr/bin/pkill -f $CAMPROVIDER"
ExecStop=/bin/sh -c "sed -i 's/multiCameraEnable=.*$/multiCameraEnable=FALSE/' $CAMXFILE  && /usr/bin/pkill -f $CAMPROVIDER"
